@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/SApp/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/SApp/assets/fonts/flaticon.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

    <link rel="stylesheet" href="~/SApp/assets/css/nice-select.min.css" />

    <link rel="stylesheet" href="~/SApp/assets/css/boxicons.min.css" />

    <link rel="stylesheet" href="~/SApp/assets/css/meanmenu.css" />

    <link rel="stylesheet" type="text/css" href="~/SApp/assets/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="~/SApp/assets/css/layers.css" />
    <link rel="stylesheet" type="text/css" href="~/SApp/assets/css/navigation.css" />

    <link rel="stylesheet" href="~/SApp/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/SApp/assets/css/owl.theme.default.min.css" />

    <link rel="stylesheet" href="~/SApp/assets/css/modal-video.min.css" />

    <link rel="stylesheet" href="~/SApp/assets/css/style.css" />

    <link rel="stylesheet" href="~/SApp/assets/css/responsive.css" />
    <title>Empire Home</title>
    <link rel="icon" type="image/png" href="~/SApp/assets/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/SApp/assets/js/jquery.min.js"></script>
</head>
<body>
    <div class="loader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="pre-load">
                    <div class="inner one"></div>
                    <div class="inner two"></div>
                    <div class="inner three"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-top-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2">
                    <div class="left">
                        <a href="~/Sales/Index">
                            <img src="~/SApp/assets/images/logo.png" alt="Logo" width="150" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="middle">
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right">
                        <ul>
                            @if (ViewBag.sC != null)
                            {
                                @if (ViewBag.sC.Cid > 0)
                                {

                                    <li>
                                        <div class="inner">
                                            <i class="fa fa-user"></i>
                                            <a href="~/Sales/Customer">
                                                @if (ViewBag.sC != null)
                                                {
                                                    @if (ViewBag.sC.Cid > 0)
                                                    {

                                                        @ViewBag.sC.FullName

                                                        <div>
                                                            <a href="~/Sales/Logout">Customer Logout</a>
                                                        </div>

                                                    }
                                                    else
                                                    {
                                                        <b>Select Customer</b>
                                                    }
                                                }
                                                else
                                                {

                                                    <b>Select Customer</b>
                                                }
                                                <input type="hidden" value="@ViewBag.sC.Cid" id="cuid" />
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="btn wishlist cart-popup-btn" href="~/Sales/MyCart">
                                            <i class="bx bxs-cart"></i>
                                            <span>@ViewBag.CartCount</span>
                                        </a>

                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="btn  btn-success" href="~/Sales/Customer">
                                            <i class="bx bxs-cart"></i>
                                            <strong>Select Customer</strong>
                                        </a>

                                    </li>

                                }

                            }
                            <li>
                                <a href="~/Sales/Inventory" class="btn btn-primary">
                                    <i class="flaticon-sofa"></i>

                                    <b>Inventory</b>

                                </a>

                            </li>

                            <li>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle join" data-bs-toggle="dropdown">
                                        <i class="flaticon-round-account-button-with-user-inside"></i>
                                        @if (ViewBag.LoggedUser != null)
                                        {
                                            @ViewBag.LoggedUser.userName
                                        }
                                        else
                                        {
                                            <b>EmpireHome</b>
                                        }
                                    </a>
                                    <div class="dropdown-menu">

                                        <a href="~/Sales/MyQuote" class="dropdown-item">Quotes</a>
                                        <a href="~/Sales/SaleOrders" class="dropdown-item">Sale Order</a>
                                        @*<a href="~/Sales/Custom" class="dropdown-item">Custom Orders</a>*@
                                        <a href="~/Sales/ClosedOrders" class="dropdown-item">Closed Orders</a>
                                        <a href="~/Authenticate/Logout" class="dropdown-item">Logout</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="page-title-area titleAdjust">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
								<div class="col-lg-6 col-sm-12">
										<div class="middle">
											<form action="~/Sales/Search" method="post">
												<div class="form-group">
													<div class="inner">
                                                        <select name="catId" onchange="GetSubCats()" id="selectedCatId" class="form-control">
                                                            <option value="0">All Categories</option>
                                                            @if (ViewBag.cats != null)
                                                            {
                                                                @if (ViewBag.cid == 0)
                                                                {
                                                                    @foreach (var c in ViewBag.cats)
                                                                    {
                                                                        <option value="@c.CategoryId">@c.CategoryName</option>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @foreach (var c in ViewBag.cats)
                                                                    {
                                                                        @if (ViewBag.cid == c.CategoryId)
                                                                        {
                                                                            <option value="@c.CategoryId" selected>@c.CategoryName</option>
                                                                        }
                                                                        else 
                                                                        {
                                                                            <option value="@c.CategoryId">@c.CategoryName</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </select>

                                                        <select name="subCatId" id="SubDrop" class="form-control">
                                                            <option value="0">Sub Category</option>
                                                            @if (ViewBag.SubCts != null)
                                                            {
                                                                @if (ViewBag.sCid == 0)
                                                                {
                                                                    @foreach (var s in ViewBag.SubCts)
                                                                    {
                                                                        <option value="@s.SubCategoryId">@s.SubCategoryName</option>

                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @foreach (var s in ViewBag.SubCts)
                                                                    {
                                                                        @if (ViewBag.sCid == s.SubCategoryId)
                                                                        {
                                                                            <option value="@s.SubCategoryId" selected>@s.SubCategoryName</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@s.SubCategoryId">@s.SubCategoryName</option>
                                                                        }
                                                                    }
                                                                }
                                                            }

                                                        </select>
													</div>
													<input type="text" name="search" class="form-control" placeholder="Search Your Keywords" />
													<button type="submit" class="btn">
														<i class="bx bx-search"></i>
													</button>
												</div>
											</form>
										</div>
									
								</div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @RenderBody()

    <div class="copyright-area">
        <div class="container">
            <div class="copyright-item">
                <p>Copyright ©2021 <a href="#" target="_blank">Empire Home</a></p>
            </div>
        </div>
    </div>

    @*<div class="modal fade modal-right popup-modal" id="exampleModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Shopping Cart <span>02 Items</span></h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="cart-table">
                            <div id="CartData1"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form>
                            <input type="text" class="form-control" placeholder="Enter Coupon Code" />
                            <button type="submit" class="btn common-btn">
                                Proceed To Checkout
                                <img src="~/SApp/assets/images/shape1.png" alt="Shape" />
                                <img src="~/SApp/assets/images/shape2.png" alt="Shape" />
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-right popup-modal wishlist-modal" id="exampleModalWishlist" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Wishlist <span>02 Items</span></h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="cart-table">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <img src="~/SApp/assets/images/cart/cart1.png" alt="Cart" />
                                        </th>
                                        <td>
                                            <h3>White Comfy Stool</h3>
                                            <span class="rate">$200.00 x 1</span>
                                        </td>
                                        <td>
                                            <a class="common-btn" href="shop.html">
                                                Add To Cart
                                                <img src="~/SApp/assets/images/shape1.png" alt="Shape" />
                                                <img src="~/SApp/assets/images/shape2.png" alt="Shape" />
                                            </a>
                                        </td>
                                        <td>
                                            <a class="close" href="#">
                                                <i class="bx bx-x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <img src="~/SApp/assets/images/cart/cart2.png" alt="Cart" />
                                        </th>
                                        <td>
                                            <h3>Yellow Armchair</h3>
                                            <span class="rate">$180.00 x 1</span>
                                        </td>
                                        <td>
                                            <a class="common-btn" href="shop.html">
                                                Add To Cart
                                                <img src="~/SApp/assets/images/shape1.png" alt="Shape" />
                                                <img src="~/SApp/assets/images/shape2.png" alt="Shape" />
                                            </a>
                                        </td>
                                        <td>
                                            <a class="close" href="#">
                                                <i class="bx bx-x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <!--
            <div class="modal fade" id="modal-subscribe" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="subscribe-shape">
                            <img src="~/SApp/assets/images/subscribe-shape1.png" alt="Shape" />
                            <img src="~/SApp/assets/images/subscribe-shape2.png" alt="Shape" />
                            <img src="~/SApp/assets/images/subscribe-shape3.png" alt="Shape" />
                        </div>
                        <div class="modal-header border-0">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row align-items-center">
                                <div class="col-sm-6 col-lg-6">
                                    <div class="subscribe-img">
                                        <img src="~/SApp/assets/images/subscribe-main1.png" alt="Subscribe" />
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <div class="subscribe-content">
                                        <h2>Subscribe Our Newsletter</h2>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun</p>
                                        <form class="newsletter-form" data-toggle="validator">
                                            <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off" />
                                            <button class="btn common-btn" type="submit">
                                                Subscribe
                                                <img src="~/SApp/assets/images/shape1.png" alt="Shape" />
                                                <img src="~/SApp/assets/images/shape2.png" alt="Shape" />
                                            </button>
                                            <div id="validator-newsletter" class="form-result"></div>
                                            <div class="inner-check">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5" />
                                                    <label class="form-check-label" for="flexCheckDefault5"> I accept all <a href="terms-conditions.html">Terms & Conditions*</a> </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6" />
                                                    <label class="form-check-label" for="flexCheckDefault6">
                                                        Don't show this message again
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    -->

    <div class="go-top">
        <i class="bx bxs-up-arrow-circle"></i>
        <i class="bx bxs-up-arrow-circle"></i>
    </div>


    <script src="~/SApp/assets/js/popper.min.js"></script>
    <script src="~/SApp/assets/js/bootstrap.min.js"></script>

    <script src="~/SApp/assets/js/form-validator.min.js"></script>

    <script src="~/SApp/assets/js/contact-form-script.js"></script>

    <script src="~/SApp/assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="~/SApp/assets/js/jquery.nice-select.min.js"></script>

    <script src="~/SApp/assets/js/jquery.meanmenu.js"></script>

    <script src="~/SApp/assets/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/SApp/assets/js/jquery.themepunch.revolution.min.js"></script>

    <script src="~/SApp/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/SApp/assets/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/SApp/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/SApp/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/SApp/assets/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/SApp/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/SApp/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/SApp/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/SApp/assets/js/extensions/revolution.extension.video.min.js"></script>

    <script src="~/SApp/assets/js/jquery.mixitup.min.js"></script>

    <script src="~/SApp/assets/js/owl.carousel.min.js"></script>

    <script src="~/SApp/assets/js/jquery-modal-video.min.js"></script>

    <script src="~/SApp/assets/js/thumb-slide.js"></script>

    <script src="~/SApp/assets/js/custom.js"></script>
    <script src="~/js/MyScripts.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').niceSelect();
    });
    function GetSubCats() {
        var seCId = $('#selectedCatId option:selected').val();
        $.ajax({
            url: GlobalUrl + "Common/GetAllSubCats?catId=" + seCId,
            type: 'post',
            data: '{}',
            success: function (res) {

                var model = $("#SubDrop");
                 
                var r = res.result.length;
                if (r > 0) {
                    model.empty();

                    for (var i = 0; i < r; i++) {
                        model.append(new Option(res.result[i].subCategoryName, res.result[i].subCategoryId));
                    }
                } else {
                    model.empty();
                    //<option value="0">Sub Category</option>
                    model.append(new Option("SubCategory", 0));
                }

                model.niceSelect('update');


                //$('#SubDrop').html('');
                //var r = res.result.ength; l
                //var row = '';
                //if (r > 0) {
                //    for (var i = 0; i < r; i++) {
                //        row = row + '<option value="' + res.result[i].subCategoryId + '">' + res.result[i].subCategoryName + '</option>';
                //    }
                //}
                ////$('#SubDrop').html('');
                //$('#SubDrop').html(row);
            }
        });
    }
</script>
</body>
</html>
