@model SCASA.Models.Repositories.Entity.Payments
@{

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-dashboard"></i>
        </div>
        <div class="header-title">
            <h1>Generate Payment</h1>
            <small>Finance Management.</small>
        </div>
    </section>
    <!-- Main content -->
    <div class="content">
        <div class="row">
            <!-- Form controls -->
            <div class="col-sm-12">
                <div class="card all_btn_card" id="lobicard-custom-control1" data-sortable="true">
                    <div class="card-header all_card_btn">
                        <div class="row">
                            <div class="card-title custom_title col-sm-6">
                                <h5>Create a Payment</h5>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group float-right" role="group">
                                    <div class="buttonexport" id="buttonlist">
                                        <a class="btn btn-add" href="~/EmpireHome/Dashboard">
                                            <i class="fa fa-reply mr-2"></i>Back
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="~/Finance/PaymentVoucher" method="post">
                            @*@Html.HiddenFor(m => m.PayId)*@
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Amount</label><span class="text-danger">*</span>
                                        @Html.TextBoxFor(m => m.Amount, null, new { @placeholder = "Enter Amount", @class = "form-control",@value=Model.Amount})
                                        @Html.ValidationMessageFor(m => m.Amount, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Date</label>
                                        @Html.EditorFor(modal => modal.PaymentDate, new { htmlAttributes = new { @class = "form-control", @id = "dateofTrans", @value = Model.DoneOn } })
                                        @Html.ValidationMessageFor(m => m.PaymentDate, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Description</label><span class="text-danger">*</span>
                                        <textarea class="form-control" rows="3" name="Description" placeholder="Enter Description">@Model.Description</textarea>
                                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-success serchgaptop"> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>