@model SCASA.Models.ModelClasses.PasswordChangeRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Empire Home Admin Panel</title>
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="~/WebApp/assets/dist/img/ico/favicon.png" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="~/WebApp/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Pe-icon-7-stroke -->
    <link href="~/WebApp/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <!-- style css -->
    <link href="~/WebApp/assets/dist/css/stylecrm.css" rel="stylesheet" />

</head>
<body>
    <!-- Content Wrapper -->
    <div class="login-wrapper">
        <div class="container-center">
            <div class="login-area">
                <div class="card panel-custom">
                    <div class="card-heading custom_head">
                        <div class="view-header">
                            <div>
                                <img src="~/WebApp/assets/dist/img/logo.png" width="150">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center font-weight-bold mb-3">Reset Password</h4>
                        <h5 class="text-center font-weight-bold mb-3">An OTP sent to email</h5>
                        <form action="~/Authenticate/ResetPassword" method="post">
                            <input type="hidden" name="UserId" value="@Model.UserId" />
                            <div class="form-group">
                                <label class="control-label" for="username">Enter OTP</label>
                                <input type="text" placeholder="Enter OTP" title="Enter OTP" required="" value="" name="key" class="form-control">
                                @Html.ValidationMessageFor(a => a.key, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Enter new Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="pword" class="form-control">
                                @Html.ValidationMessageFor(a => a.password, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Confirm Password</label>
                                <input type="password" title="Re enter password" placeholder="******" required="" value="" name="confirmPassword" id="pword" class="form-control">
                                @Html.ValidationMessageFor(a => a.confirmPassword, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <span class="text-danger">
                                    @ViewBag.ErrorMessage
                                </span>

                            </div>
                            <div>
                                <button class="btn green_btn">Reset</button>
                                <a class="btn btn-warning" href="~/Authenticate/Login">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- jQuery -->
    <script src="~/WebApp/assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap proper -->
    <script src="~/WebApp/assets/bootstrap/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/WebApp/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>