@model IEnumerable<SCASA.Models.ModelClasses.CRFQMasterModel>
@{
    Layout = "~/Views/Shared/_SalesMaster.cshtml";
    System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");
    int curentPage = ViewBag.pageNumber;
    var totalPages = ViewBag.totalPages;
    int pageSize = ViewBag.pageSize;
}
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-content">
                    <h2>My CRFQ</h2>
                    <ul>
                        <li>
                            <a href="~/Sales/Index">Home</a>
                        </li>
                        <li>
                            <span>My CRFQs : - @ViewBag.TotalCount</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="title-img">
        <img src="~/SApp/assets/images/page-title1.jpg" alt="About" />
        <img src="~/SApp/assets/images/shape16.png" alt="Shape" />
        <img src="~/SApp/assets/images/shape17.png" alt="Shape" />
        <img src="~/SApp/assets/images/shape18.png" alt="Shape" />
    </div>
</div>

<div class="user-area ptb-60">
    <div class="container-fluid">
        <input id="CurrentUserId" type="hidden" value="@ViewBag.LoggedUser.userId" />
        <div class="searchBox">
            <div id="no-more-tables">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    @foreach (var v in Model)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne_@v.CRFQId">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne_@v.CRFQId" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <div>
                                        <table class="col-md-12 table-bordered cf" width="100%">
                                            <thead>
                                                <tr>
                                                    <td class="lightBlueBg">Customer: </td>
                                                    <td><strong>@v.CustomerName</strong></td>
                                                    <td class="lightBlueBg">Created On: </td>
                                                    <td><strong>@(Convert.ToDateTime(v.CreatedOn).ToString("dd/MMM/yyyy HH:ss"))</strong></td>
                                                    <td class="lightBlueBg">Order Value</td>
                                                    <td><strong>Rs. @(String.Format(Indian,"{0:N}", (v.crfqDetails.Sum(a => a.TotalPrice))))</strong></td>
                                                    <td class="lightBlueBg">Status : </td>
                                                    <td style="background-color:forestgreen; float:pull-right;"><strong style="color:white;">@v.CurrentStatus</strong></td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapseOne_@v.CRFQId" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Qty</th>
                                                <th>Price</th>
                                                <th>Item Total</th>
                                                <th>SE Disc. %</th>
                                                <th>Other Disc.</th>
                                                <th>Admin Disc.</th>
                                                <th>Total Discount</th>
                                                <th>Line Total</th>
                                                <th>Image</th>
                                                <th>Size</th>
                                                <th>Color</th>
                                            </tr>
                                        </thead>
                                        @foreach (var d in v.crfqDetails)
                                        {
                                            <tr>
                                                <td>@d.InventoryTitle</td>
                                                <td>@d.Quantity</td>
                                                <td class="text-right">@(String.Format(Indian, "{0:N}", d.ItemPrise))</td>
                                                <td class="text-right">@(String.Format(Indian, "{0:N}",d.OrderLineTotal))</td>
                                                <td class="text-right">@d.DisAmtBySE</td>
                                                <td class="text-right">@d.DisAmtByHead </td>
                                                <td class="text-right">@d.AdminDiscount </td>
                                                <td class="text-right">Rs. @(String.Format(Indian,"{0:N}", ((d.DisAmtByHead + d.DisAmtBySE+d.AdminDiscount) * d.OrderLineTotal / 100)))</td>
                                                <td class="text-right">
                                                    Rs.
                                                    @(String.Format(Indian, "{0:N}", d.TotalPrice))
                                                </td>
                                                <td>
                                                    @{
                                                        string[] pImages = d.InventoryImage.Split(",");
                                                    }
                                                    <img src="~/ProductImages/@pImages[0]" width="150">
                                                </td>
                                                <td>
                                                    @d.Height X <br />  @d.Width X <br /> @d.Breadth
                                                </td>
                                                <td>
                                                    @{
                                                        string[] cImage = d.ColorImage.Split(",");
                                                    }
                                                    @foreach (var ci in cImage)
                                                    {
                                                        @d.ColorName <br />
                                                        <img src="~/ProductImages/@ci" width="50">
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div class="row">
                                                    @if (ViewBag.extraDscount > v.crfqDetails[0].DisAmtBySE)
                                                    {
                                                        <div class="col-md-4">
                                                            <form method="post" action="~/Sales/UpdateQuoteDisc">
                                                                <input type="text" name="extraDisc" required placeholder="Add Discount" />
                                                                <input type="number" name="qId" hidden value="@v.CRFQId" />
                                                                <button type="submit" class="btn btn-success">Add Discount</button>
                                                            </form>
                                                        </div>
                                                    }
                                                    <div class="col-md-8">
                                                        @if ((ViewBag.extraDscount == v.crfqDetails[0].DisAmtBySE) && v.CurrentStatus == "Open")
                                                        {
                                                            <button class="btn btn-outline-primary" onclick="SubmitForDiscount(@v.CRFQId)">Submit for Discount</button>
                                                        }
                                                        @if (v.CurrentStatus == "Discount Approved")
                                                        {
                                                            <button class="btn btn-outline-primary" onclick="SubmitForAdminDiscount(@v.CRFQId)">Submit for Admin Discount</button>
                                                        }
                                                        <a href="~/Sales/SendQuote?qmId=@v.CRFQId" class="btn btn-outline-danger">Send Quote</a>
                                                        @*<button class="btn btn-primary">Custom Order</button>*@
                                                        <a class="btn btn-primary" href="~/Sales/QuoteDetails?qmId=@v.CRFQId" target="_blank">Print</a>
                                                        <a class="btn btn-secondary" href="~/Sales/CloneCart?crId=@v.CRFQId">Clone  to new Cart</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    @if (v.CurrentStatus != "SO Created")
                                    {
                                        <form action="~/Sales/CreateSaleOrder" method="post">
                                            <input type="hidden" name="CRFQId" value="@v.CRFQId" />
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        <table class="table" style="background-color:antiquewhite;">

                                                            @foreach (var d in v.crfqDetails)
                                                            {
                                                                <input type="hidden" name="CRFQDId[]" value="@d.CRFQDetailsId" />
                                                                <tr>
                                                                    <td>@d.InventoryTitle</td>
                                                                    <td>
                                                                        W-Qty (@d.CurrentWarehouseQty)
                                                                    </td>
                                                                    <td>
                                                                        <select class="form-control" name="SelWareHouseQty[]">
                                                                            <option value="0">0</option>
                                                                            @for (int i = 1; i <= d.Quantity; i++)
                                                                            {
                                                                                <option value="@i">@i</option>
                                                                            }
                                                                        </select>

                                                                    </td>
                                                                    <td>
                                                                        S-Qty (@d.CurrentShowroomQty)
                                                                    </td>
                                                                    <td>
                                                                        <select class="form-control" name="SelShowRoomQty[]">
                                                                            <option value="0">0</option>
                                                                            @for (int i = 1; i <= d.Quantity; i++)
                                                                            {
                                                                                <option value="@i">@i</option>
                                                                            }
                                                                        </select>
                                                                    </td>

                                                                </tr>
                                                            }
                                                        </table>
                                                    </td>
                                                    <td width="20%">
                                                        <input type="text" class="form-control" name="DelivaryCharges" placeholder="Delivery Charges" />
                                                        <br />
                                                        <input type="text" class="form-control" name="RoundOff" placeholder="Round Off Value" />
                                                    </td>
                                                    <td>
                                                        @if (v.CurrentStatus != "SO Created")
                                                        {
                                                            <button class="btn btn-outline-success" type="submit">Create Sale Order</button>
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-inn">
                <form action="~/Inventory/All" method="post">
                    <span>Current Page  @Model.Count() records</span>
                    <ul class="pagination">
                        <!--<li class="waves-effect"><a href="#!"><i class="material-icons"><</i></a></li>-->
                        @{
                            int pre = curentPage - 1;
                        }
                        @if (curentPage == 1)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#!" tabindex="-1">Previous</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="~/Sales/MyQuote?pageNumber=@pre&pageSize=@ViewBag.pageSize&search=@ViewBag.search">Previous</a>
                            </li>
                        }
                        @for (int cnt = 1; cnt <= totalPages; cnt++)
                        {
                            if (cnt == curentPage)
                            {
                                <li class="page-item active"><a class="page-link" href="~/Sales/MyQuote?pageNumber=@cnt&pageSize=@ViewBag.pageSize">@cnt</a></li>

                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="~/Sales/MyQuote?pageNumber=@cnt&pageSize=@ViewBag.pageSize">@cnt</a></li>
                            }
                        }
                        @{
                            int next = curentPage + 1;
                        }
                        @if (curentPage != totalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="~/Sales/MyQuote?pageNumber=@next&pageSize=@ViewBag.pageSize">Next</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#!">Next</a>
                            </li>
                        }
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {        
        if ("@ViewBag.ecde" != "") {
            toastr["error"]("Discount Limit exceded")
        }
    });
    function SubmitForDiscount(crfqid) {
        swal("Are you sure?", {
            buttons: {
                yes: {
                    text: "Yes",
                    value: "yes"
                },
                no: {
                    text: "No",
                    value: "no"
                }
            }
        }).then((value) => {
            if (value === "yes") {
                var cid = $('#CurrentUserId').val();
                $.ajax({
                    url: GlobalUrl + "Sales/SendQuoteForDiscount?crfqId=" + crfqid + '&currentUserId=' + cid,
                    type: 'post',
                    data: '{}',
                    success: function (result) {
                        toastr["success"]("Successuflly submitted!");
                        window.location.href = "MyQuote";
                    }
                });
            }
            else {
                toastr["error"]("Submit cancelled!")
            }
            return false;
        });
    }
    function SubmitForAdminDiscount(crfqid) {
        swal("Are you sure?", {
            buttons: {
                yes: {
                    text: "Yes",
                    value: "yes"
                },
                no: {
                    text: "No",
                    value: "no"
                }
            }
        }).then((value) => {
            if (value === "yes") {
                var cid = $('#CurrentUserId').val();
                $.ajax({
                    url: GlobalUrl + "Sales/SendQuoteForAdminDiscount?crfqId=" + crfqid + '&currentUserId=' + cid,
                    type: 'post',
                    data: '{}',
                    success: function (result) {
                        toastr["success"]("Successuflly submitted!");
                        window.location.href = "MyQuote";
                    }
                });
            }
            else {
                toastr["error"]("Submit cancelled!")
            }
            return false;
        });
    }
</script>