@model IEnumerable<SCASA.Models.ModelClasses.EmployeeTargetList>
@*
    <a href="E:\New Empire\SCASA\Views\Staff\StaffList.cshtml">E:\New Empire\SCASA\Views\Staff\StaffList.cshtml</a>
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int rCnt = 1;

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-users"></i>
        </div>
        <div class="header-title">
            <h1>Sub Ordinates of : - @ViewBag.uName</h1>
            <small>List of SubOrdinates</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-12 pinpin">
                <div class="card" data-sortable="true">
                    <div class="card-header">
                        <div class="card-title custom_title">
                            <div class="row">
                                <div class="col-md-9">
                                    <form action="~/Staff/SubOrdinatesList?id=@ViewBag.id" method="post">

                                        <div class="col-md-4">
                                            <h4>@ViewBag.uName 's  Sub Ordinates</h4>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="sear" placeholder="search">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-success btn-sm">
                                                Search
                                            </button>
                                        </div>

                                    </form>
                                </div>

                                <div class="col-md-3">
                                    <div class="btn-group float-right" role="group">
                                        <div class="buttonexport" id="buttonlist">
                                            <a class="btn btn-add" href="~/Staff/ReportingManagerList">
                                                <i class="fa fa-reply mr-2"></i> Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead class="back_table_color">
                                    <tr class="info">
                                        <th>#</th>
                                        <th>Employee Name</th>
                                        <th>Employee Code</th>
                                        <th>Email Id</th>
                                        <th>Mobile</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var s in Model)
                                        {
                                            <tr>
                                                <td>@(rCnt++)</td>
                                                <td><a href="~/Staff/Targets?id=@s.UserId">@s.UserName</a></td>
                                                <td>@s.EmployeeCode</td>
                                                <td>@s.EmailId</td>
                                                <td>@s.MobileNumber</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>